<div id="wrapper">
    <div class="row">
        <div id="teamButtonDiv" class="col-sm-1">
            <legend>Navigation</legend>
            <a id="messageButton" href="/messages/view" class="btn btn-default">View Messages</a>
            <a id="dashButton" href="/users/dashboard" class="btn btn-default">Dashboard</a>         
            <a id="logoutButton" href="/users/logout" class="btn btn-default">Logout</a>
   
        </div>
        <div id="TeamInfoDiv" class="col-sm-2">
            <legend>Team Information</legend>
            <p>Name: <%= @team.name %></p>
            <p>Number of active players: <%= @team.players.count %></p>
            <p> Coach: <%= User.find(@team.user_id).first_name %> <%= User.find(@team.user_id).last_name %></p>
            <% if session[:user_id] == @team.user_id %>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#teamEditModal"> Edit Team Name</button>
            <% end %>
        <div class="modal fade" id="teamEditModal">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Edit Team Name</h3>
                </div>
                <div class="modal-body">
                    <form action="/teams/<%= @team.id %>/update" method="post" class="form-horizontal">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input type="hidden" name="_method" value="patch">
                            <label for="team[name]">Team Name: </label>
                            <input type="text" name="team[name]" value="<%= @team.name %>">
                            <input type="submit" value="Update Team Name!" class="btn btn-default">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            </div>
            </div>
        </div>
    <div id="scheduleDiv" class="col-sm-3">
        <% if flash[:errors] %>
            <% flash[:errors].each do |e| %>
                <%= e %>
            <% end %>
        <% end %>
        <Legend>Schedule</Legend>
        <% @schedule.each do |game| %>
        <div id="gameInfoDiv">
        <p> <%= game.away.name %></p>
        <p>VS </p>
        <p><%= game.home.name %></p>
        <p><%= game.date.strftime("%m/%d/%Y") %></p>
        <p><%= game.details%></p>
        </div>
        <% end %>
        <% if session[:user_id] == @team.user_id %>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newGameModal">Start New Event</button>
        <% end %>
    </div>
    <div class="modal fade" id="newGameModal">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Create a new Event/Game</h3>
            </div>
            <div class="modal-body">
                <form action="/games/create" method="post" class="form-horizontal">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="teamPageId" value="<%= @team.id %>">
                    <label for="game[home_id]">Home Team: </label>
                    <select id="game[home_id]" name="game[home_id]" class="form-control" value="Select Home Team">
                        <% @teams.each do |team| %>
                            <option value="<%= team.id %>"><%= team.name %></option>
                        <% end %>
                    </select>
                    <label for="game[away_id]">Away Team: </label>
                    <select id="game[away_id]" name="game[away_id]" class="form-control" value="Select Away Team">
                        <% @teams.each do |team| %>
                            <option value="<%= team.id %>"><%= team.name %></option>
                        <% end %>
                    </select>
                    <label class="col-md-4 control-label" for="game[date]">Date:</label>
                    <input type="date" name="game[date]" id="date"><br>
                    <label class="col-md-4 control-label" for="game[details]">Details (Time/Place)</label>  
                    <input id="game[details]" name="game[details]" type="text" class="form-control input-md">
                    <input type="submit" value="Create Game!" class="btn btn-primary">
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            </div>
            </div>
    <div id="otherplayersDiv" class="col-sm-4">
        <legend>Other Players on Team</legend>
        <table class="table table-hover">
        <tr>
            <th class="col-sm-1">Name</th>
            <th class="col-sm-1">Position</th>
            <th class="col-sm-1">Action</th>
        </tr>
        <% @players.each do |player| %>
        <tr>
        <td><a href="/players/<%= player.id %>/view"><%= player.user.first_name %> <%= player.user.last_name %> </td>
        <td><%= player.position %> </td>
            <% if player.user_id == session[:user_id] %>
                <td>
                    <a href="#editPlayerModal<%= player.user_id%>" role="button" class="btn btn-default" data-toggle="modal">Edit Position</a>
                </td>
                <div class="modal fade" id="editPlayerModal<%= player.user_id %>">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Change Positions</h4>
                            </div>
                        <div class="modal-body">
                            <form action="/players/<%= player.id %>/update" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input type="hidden" name="_method" value="patch">
                            <label for="player[position]">Position(s):</label>
                            <select name="player[position]" id="player[position]">
                                <option value="P">P</option>
                                <option value="C">C</option>
                                <option value="1B">1B</option>
                                <option value="2B">2B</option>
                                <option value="3B">3B</option>
                                <option value="SS">SS</option>
                                <option value="OF">OF</option>
                            </select>
                            <input type="submit" value="Submit" class="btn btn-primary">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            <% else %>
                <td>
                    <a href="#messagePlayerModal<%= player.user_id %>" role="button" class="btn btn-default" data-toggle="modal">Send a Message</a>
                </td>
                <div class="modal fade" id="messagePlayerModal<%= player.user_id %>">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Send <%= player.user.first_name %> a Message </h4>
                        </div>
                        <div class="modal-body">
                            <form action="/messages/create" method="post" id="message_form">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input type="hidden" name="message[recipient_id]" value="<%= player.user_id %>">
                                <label for="message[subject]">Subject:</label><br>
                                <input type="text" name="message[subject]" id="message[subject]"><br>
                                <label for="message[content]">Your Message</label><br>
                                <textarea name="message[content]" id="message[content]" cols="30" rows="10"></textarea><br>
                                <button onlick="form_submit()" class="btn btn-default">Send Message</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    </div>
                </div>
                <% end %>
        </tr>
        <% end %>
        </table>
        </div>
    </div>
    <div class="row" id="bulletinRow">
    <div id="bulletinDiv" class= "col-sm-4">
    <legend>Bulletins</legend>
    <% @bulletins.each do |bulletin| %>
    <p><%= bulletin.user.first_name %>: <%= bulletin.content %> </p>
    <% end %>
    </div>
<div id="bulletinForm">
<form class="form-horizontal" action="/bulletins/create" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="bulletin[team_id]" value="<%= @team.id %>">

<fieldset>

<!-- Form Name -->
<legend>Write Bulletin</legend>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="bulletin[content]">Write Bulletin</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="bulletin[content]" name="bulletin[content]"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <input type="submit" value="Write Bulletin"class="btn btn-default">
  </div>
</div>
</fieldset>
</form>
</div>
</div>
    

</div>
